
-- Template colors for awesome theme
local base00 = "#{{base00-hex}}"
local base01 = "#{{base01-hex}}"
local base02 = "#{{base02-hex}}"
local base03 = "#{{base03-hex}}"
local base04 = "#{{base04-hex}}"
local base05 = "#{{base05-hex}}"
local base06 = "#{{base06-hex}}"
local base07 = "#{{base07-hex}}"
local base08 = "#{{base08-hex}}"
local base09 = "#{{base09-hex}}"
local base0A = "#{{base0A-hex}}"
local base0B = "#{{base0B-hex}}"
local base0C = "#{{base0C-hex}}"
local base0D = "#{{base0D-hex}}"
local base0E = "#{{base0E-hex}}"
local base0F = "#{{base0F-hex}}"
